<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Hello {{ user }}!</h1>
<h4>Please wait while we analyse your tweets!</h4>
<p><a href="/unsubscribe/">Click here</a> to unsubscribe from our reports</p>
</body>
</html>